.App {
  display: flex;
  align-items: stretch; }

body {
  font-size: 18px;
  padding: 0;
  margin: 0; }

html, body, .leaflet-container {
  width: 100%; }

.results li {
  padding: 15px;
  border-bottom: 1px solid #555; }

/* see https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #e0b649;
  /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 0.5s linear infinite;
  margin: auto auto; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.search-form {
  border-radius: 0;
  border: 0;
  color: #ddd;
  background-color: #333;
  font-size: 22px;
  height: 52px;
  font-weight: 300; }

.popup-content {
  width: 320px; }

.leaflet-fade-anim .leaflet-popup {
  transition: none; }

.sidebar {
  background-color: #444;
  min-width: 320px;
  max-width: 320px;
  color: #ddd;
  min-height: 100vh;
  z-index: 1000; }

.logo {
  font-size: 32px;
  font-weight: 300;
  color: #e0b649;
  text-align: center;
  padding: 10px; }
