.App {
  display: flex;
  align-items: stretch; }

body {
  font-size: 18px;
  padding: 0;
  margin: 0; }

html, body, .leaflet-container {
  width: 100%; }

.results li {
  padding: 15px;
  border-bottom: 1px solid #555; }

/* see https://codeburst.io/tutorial-make-a-bouncing-ball-entirely-with-css-1e7e3c853a50 */
.selected-map {
  animation: zoominoutsinglefeatured 1s infinite; }

.search-form {
  border-radius: 0;
  border: 0;
  color: #ddd;
  background-color: #333;
  font-size: 22px;
  height: 52px;
  font-weight: 300; }

.popup-content {
  width: 360px; }

.sidebar {
  background-color: #444;
  min-width: 320px;
  max-width: 320px;
  color: #ddd;
  min-height: 100vh;
  z-index: 1000; }

.logo {
  font-size: 32px;
  font-weight: 300;
  color: #e0b649;
  text-align: center;
  padding: 10px; }
